<DOCTYPE! html>
<html
<head>
    <title> Home </title>
    <link href="/static/css/main.min.css" rel="stylesheet">
    
</head>
<style>
    body {
   
        background-color: #362f58;
        background-size: cover;

        color: white;
        padding-top: 2en;
       }
    input.submitbutton {
        font-size:150%;
    }
</style>
<body>
    <div class = 'container'>
        <div class = 'row' 'justify-content-center'>
            <div class = 'col' >
                <h1 style = "text-align: center; padding-top: 2em;"> Quantified Self App</h1>
            </div>
        </div>
    </div>

    <div class = 'container' 'lead'>
        <div class = 'row' 'justify-content-center'>
            <div class = 'col' >
                <blockquote class="blockquote">
                    <p style = "text-align: center;">Spend time getting to know yourself, journaling is a powerful way to do that. Click through to learn how.</p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class = 'container' 'justify-content-center'>
        <div class = 'row' align = 'center' >
            <div class = 'col' >
                <button   >
                <a href = '/login' style = "padding-left:">Login</a>
                </button>
            </div>
            
            <div class = 'col' align = 'center'>
                <button  class='justify-content-center'>
                <a href = '/signup'>Signup</a>
             </button>
            </div>
        </div>
    </div>
</body>